@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TASK 4</h1>
    <h5>.Net 5.0 MVC alt yapısı ile https://gorest.co.in/ adresindeki https://gorest.co.in/public/v2/users apisinden verileri .Net ortamında objelere dönüştüren bir uygulama ( Rest Api call )</h5>
    <p>Veri sayfasına ulaşmak için <a href="https://localhost:5001/Users">tıklayınız</a>.</p>
</div>